In [1]:
!pip install dnspython
!pip install pymongo[srv]

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

Creating a database

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Gopika:12345@cluster0.ms28e.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.Telephone_Directory
record=db.contacts

**TRIAL**

In [3]:
'''trial=[{"name":"Carry Bradshaw","ph":9447638927,"_id":"carry@gmail.com","Place":"Brooklyn"},
   {"name":"Stanford","ph":9387645243,"_id":"stanchan@gmail.com","Place":"Manhattan"}]  
record.insert_many(trial)  '''

**FUNCTION TO ADD CONTACT**

In [41]:
def details():
  g=0
  while g==0:
    name=' '.join([i.capitalize() for i in input("Name: ",).split()])
   

    ph=str(input("Phone Number: ",))
    try:
      check=[int(i) for i in ph]
    except:
      continue  
    if len(check)==10:
      pass
     
    else:
      print("ERROR : Phone number should contain 10 digits, please try again.")
      continue


    mail_id=input("Mail id: ",)
    if mail_id.endswith("@gmail.com")==True or mail_id.endswith("@yahoo.in")==True:
      pass
    else:
      print("ERROR : mail id should end with @gmail.com, please try again.")
      continue

    place=input("Place: ",).capitalize()


    g=1   

  return {"name":name,"ph":int(ph),"_id":mail_id,"Place":place}

***FUNCTION TO INSERT THE RECORDS INTO THE COLLECTION***

In [6]:
def add_contacts():
  people=details()
  record.insert_one(people)

***Query to find the records I have created***

**FUNCTION TO RETRIEVE ALL CONTACTS IN ALHABETICAL ORDER**

In [7]:
def all_contacts():
  import pandas as pd
  docs=record.find().sort("name",1)
  ds=pd.DataFrame(docs)
  print(ds)

**FUNCTION TO GET THE DETAILS OF THE CONTACT BY NAME** Here the function also helps to find out the details of the names which is somewhat similar to the one the user typed , by using the startswith method .

In [8]:
def get_contact():
  k=0
  names=' '.join([i.capitalize() for i in input("Name: ",).split()])
  
  for i in record.find({"name":names},{"_id":1, "name":1,"ph":1,"mail_id":1,"Place":1}):
    k=1
    print(i)

  if k==0: 
    import pandas as pd
    data=record.find()
    ds=pd.DataFrame(data)
    val=ds["name"].str.startswith(names,na=False)
    for i in val:
      if i ==True:
        print("Contact ",names," is not found. Are you searching for \n ", ds[val])
        break 
    else:
      print("Contact ",names," is not found!")

***MODIFYING THE PHONE NUMBER OR PLACES OR BOTH USING NAMES ALREADY RECORDED***

In [58]:
def modify():
  print("To change Phone number Type 1")
  print("To change Place Type 2")
  print("To chage Both Type 3")
  modd=int(input())
  if modd==1:
    #by name change ph no
    name1=' '.join([i.capitalize() for i in input("Name: ",).split()])
    my_query={'name':name1}
    ph1=str(input("Phone Number: ",))
    new_value={"$set":{"ph":ph1}}
    record.update_one(my_query,new_value)
  elif modd==2:
    #by name change place
    name1=' '.join([i.capitalize() for i in input("Name: ",).split()])
    my_query={'name':name1}
    place1=' '.join([i.capitalize() for i in input(" ",).split()])
    new_value={"$set":{"Place":place1}}
    record.update_one(my_query,new_value)
  elif modd==3:
    #by name change ph no
    name1=' '.join([i.capitalize() for i in input("Name: ",).split()])
    my_query={'name':name1}
    ph1=str(input("Phone Number: ",))
    new_value={"$set":{"ph":ph1}}
    record.update_one(my_query,new_value)

    #by name change place

    place1=' '.join([i.capitalize() for i in input("Place name: ",).split()])
    new_value={"$set":{"Place":place1}}
    record.update_one(my_query,new_value)

***FUNCTION TO DELETE THE CONTACT BY NAME USING delete_one() METHOD**

In [11]:
def delete():
  name2=' '.join([i.capitalize() for i in input("Type the name that has to be deleted ",).split()])
  for i in record.find():
    if i['name']==name2:
      idd=i['_id']
      break 
    else:
      pass  
  db.contacts.delete_one({'_id':idd})

**BASE FUNCTION**

In [61]:

def open():
  print("To add your contacts ,Type A.")
  print("To get a contact detail,Type B")
  print("To get all the contacts in view, Type C")
  print("To update phone number or place, Type D")
  print("To delete a contact using name as input, Type E")
  mark=input().capitalize()
  if mark=="A":
    add_contacts()
  elif mark=="B":
    get_contact()
  elif mark=="C":
    all_contacts()
  elif mark=="D":
    modify()
  elif mark=="E":
    delete()    
  else:
    print("ERROR : try again!")

***LETS BEGIN***
Every thing that should be retrieved will be executed with the OPEN() function

In [60]:
open()

To add your contacts ,Type A.
To get a contact detail,Type B
To get all contacts in view, Type C
To update phone number or place, Type D
To delete a contact using name as input, Type E
c
                     _id            name          ph       Place
0        carry@gmail.com  Carry Bradshaw  9447638927    Brooklyn
1     drishhh6@gmail.com       Drishya P  7689567890    Banglore
2  guvigeek100@gmail.com       Guvi Geek  3442453456  Tamil Nadu
3       heera5@gmail.com           Heera  9876543210      Kerala
4     stanchan@gmail.com        Stanford  9387645243   Manhattan
5        vinn3@gmail.com       Vinny Vee  6557894567  Coimbatore

In [59]:
open()

To add your contacts ,Type A.
To get a contact detail,Type B
To get all contacts in view, Type C
To update phone number or place, Type D
To delete a contact using name as input, Type E
d
To change Phone number Type 1
To change Place Type 2
To chage Both Type 3
3
Name: Heera
Phone Number: 9876543210
Place name: kerala